.bg-red {
  background-color: red;
  color: white;
}
.bg-blue {
  background-color: blue;
  color: white;
}
.bg-yellow {
  background-color: yellow;
  color: black;
}
.bg-green {
  background-color: green;
  color: white;
}
.bg-blackk {
  background-color: black;
  color: white;
}
.bg-purple {
  background-color: purple;
  color: white;
}
.bg-orange {
  background-color: orange;
  color: white;
}
.bg-whitee {
  background-color: white;
  color: black;
}
